.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 110px;
}

.nav-manu{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 40px;
    font-size: 18px;
}

.nav-title{
    position: relative;
}
.nav-title h1{
    padding: 0px 30px;
    font-size: 50px;
    font-weight: 600;
    background: linear-gradient(267deg , #e77d13 10.36% , #ba28df 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     transition: 0.3s;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.nav-title img{
    width: 120px;
    position: absolute;
    bottom: 2px;
    right: 0px;
    z-index: -1;
}


.nav-manu li{
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.nav-manu li img{
    display: flex;
    margin: auto;
}

.anchor-link{
    text-decoration: none;
    color: white;
}
.anchor-link ul{
 list-style: none;
 display: flex;
 gap: 16px;
 font-size: 25px;
}
.anchor-link ul li{
    background: linear-gradient(267deg , #DA7C25 10.36% , #B923E1 102.06%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
     transition: 0.3s;
    
}
.anchor-link ul li:hover{
    transform: scale(1.25);
    transition: 0.4s;
}

.nav-mob-close{
    display: none;
}
.nav-mob-open{
    display: none;
}

@media (max-width:1100px) {
      .navbar{
        margin: 20px 50px;
    }
    .nav_connect{
        display: none;
    }

    .nav-mob-open{
        display: block;
       
        right: 30px;
        
    }

    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-manu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0px;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-manu li{
        font-size: 30px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}
@media (max-width:768px) {
    .navbar{
        margin: 20px 50px;
    }
    .nav_connect{
        display: none;
    }

    .nav-mob-open{
        display: block;
       
        right: 30px;
        
    }

    .nav-mob-close{
        display: block;
        position: relative;
        top: 30px;
        left: 290px;
        width: 30px;
    }

    .nav-manu {
        position: fixed;
        flex-direction: column;
        align-items: start;
        top: 0px;
        gap: 30px;
        background-color: #1F0016;
        width: 350px;
        height: 100%;
        z-index: 2;
        transition: right 0.5s;
        right: -350px;
    }

    .nav-manu li{
        font-size: 25px;
        padding-left: 100px;
        flex-direction: row;
        gap: 20px;
    }
}